# temporary files
*.tmp
*.sw*

# audio files
*.mp3
*.m4a
*.wav
*.ifs
*.m3u
*.wma
*.1
*.s3p
*.2dx

# build temporaries
*.o
*.obj
*.exp
*.lib
*.pdb
*.ilk
build
build_win
*_plugin_import.cpp

# build outputs
depends.mak
include
bemani2wav
bemani2wav_d
*.dll
*.a
*.so
*.exe
*_gui
*_gui_d
gui/Makefile*

# external dependencies
plugins/foobar2000
plugins/pfc
plugins/libPPUI

# de-ignore submodule
!/seq2wav
